<p id="notice"><%= notice %></p>


<div class="col-md-1">
</div>

<div class="col-md-10">
  <h1>Instructors</h1>
  <p>This is a list of all the names and emails of Brandeis' instructors.</p>

  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @instructors.each do |instructor| %>
        <tr>
          <td><%= instructor.first %></td>
          <td><%= instructor.last %></td>
          <td><%= instructor.email %></td>
          <td><%= button_to 'Show', instructor, method: :get, class: 'btn .btn-success darkGrayButton' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-1">
</div>
